@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 100;
	src: url('../font/notokr/notokr-light.eot');
	src: url('../font/notokr-light.eot?#iefix') format('embedded-opentype'),
		 url('../font/notokr-light.woff2') format('woff2'),
		 url('../font/notokr-light.woff') format('woff');
}
 
@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 400;
	src: url('../font/notokr-regular.eot');
	src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/notokr-regular.woff2') format('woff2'),
		 url('../font/notokr-regular.woff') format('woff');
}
 
@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 500;
	src: url('../font/notokr-medium.eot');
	src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
		 url('../font/notokr-medium.woff2') format('woff2'),
		 url('../font/notokr-medium.woff') format('woff');
}
 
@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 700;
	src: url('../font/notokr-bold.eot');
	src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/notokr-bold.woff2') format('woff2'),
		 url('../font/notokr-bold.woff') format('woff');
}